<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/buttons.css">
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
        <a class="navbar-brand fw-bold fs-5" href="/">
            <img src="/images/openbill.png" 
                 class="img-fluid" 
                 style="max-height: 40px; width: auto;" 
                 alt="OpenBill Logo">
        </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-outline-light">Contact</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
